/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

body {
    background-color: rgb(255, 255, 255);
}

#id {
    float: left;
    font-size: 30px;
    width: 8.532252%;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1em;
   margin-left:250px;
    margin-top: 62.625px;
    clear: both;
    min-height: 37px;
    font-family: 'courier new';
    text-transform: none;
    font-style: normal;
}

#pw {
    float: left;
    font-size: 30px;
    width: 15.623482%;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1em;
   margin-left:250px; 
    margin-top: 50.625px;
    clear: both;
    min-height: 33px;
    font-family: 'courier new';
}

#join {
    float: left;
    font-size: 40px;
    width: 43.866922%;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    margin-left: 1.198069%;
    margin-top: 74px;
    clear: none;
    min-height: 42px;
    color: rgb(233, 195, 243);
    background-color: rgb(103, 102, 102);
}

#input {
    float: left;
    height: 39px;
    font-size: 1em;
    margin-left: 38.965318%;
    margin-top: 62.625px;
    clear: both;
    width: 18.367347%;
    font-style: normal;
    text-transform: uppercase;
}

#image10 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    visibility: hidden;
    position: absolute;
}

#image0 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 20%;
    margin-top: 50px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#image20 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 2.260994%;
    margin-top: 50px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#formgroup {
    float: left;
    height: 64.375px;
    display: block;
    text-align: left;
    margin-left: 2.124332%;
    margin-top: 34px;
    clear: none;
    width: 34.693878%;
}

#idinput {
    float: none;
    height: 37.625px;
    padding: 0px;
    font-size: 1em;
    display: block;
    width: 30%;
    margin-top: 200px;
    margin-left: 410px;
    clear: none;
}

#ttt {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0.2em 0em;
    display: block;
}

#formgroup1 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.147109%;
    margin-top: 38.625px;
    clear: none;
    width: 34.695396%;
}

#pwinput {
    float: none;
    height: 37.625px;
    padding: 0px;
    font-size: 1em;
    display: block;
    width: 30%;
    margin-top: 50.625px;
    margin-left: 150px;
    clear: none;
}



#formgroup2 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 1.541241%;
    margin-top: 40.625px;
    clear: none;
    width: 34.133564%;
}

#phoneinput {
    float: none;
    height: 35px;
    padding: 0px;
    font-size: 1em;
  
  margin-left: 400px;
    width: 30%;
margin-top: 51.625px;
}

#text6 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0.2em 0em;
    display: block;
}

#formgroup3 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 1.541241%;
    margin-top: 22.375px;
    clear: none;
    width: 34.135083%;
}

#emailinput {
    float: none;
    height: 40.5px;
    padding: 0px;
    font-size: 1em;
   
    margin-top: 39.25px;
    width: 30%;
}



#phone{
    float: left;
    font-size: 30px;
    width: 100px;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1em;
     
    margin-top: 51.625px;
     margin-left:230px;
    clear: both;
    min-height: 46.375px;
    font-family: 'courier new';
}

#email{
    float: left;
    font-size: 30px;
    width: 16.229349%;
    height: auto;
    text-align: left;
    font-weight: 700;
    line-height: 1em;
    margin-left:230px;
    margin-top: 39.25px;
    clear: both;
    min-height: 46.375px;
    font-family: 'courier new';
    margin-right: 0%;
}
#joinbutton{
	margin-top:50px;
	margin-left:500px;
	height:40px;

}
