/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
   
}
#image200 {
    margin-left: 2.792456%;
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-top: 68px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}
#text100 {
    float: left;
    font-size: 35px;
    color: rgb(255, 159, 159);
    width: 55.253887%;
    height: auto;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    margin-left: 20%;
    margin-top: 68px;
    clear: none;
    min-height: 71px;
   
    margin-right: 0%;
    text-indent: 0px;
}




#textspan_ {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 600;
}

#box0 {
    float: left;
    height: 560px;
    margin-left: 2.623907%;
    margin-top: 100px;
    clear: both;
    width: 15.354713%;
    border: 2px solid rgb(185, 185, 186);
}

#text6 {
    float: left;
    font-size: 20px;
    width: 96.489448%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.288555%;
    margin-top: 13px;
    clear: none;
    min-height: 52px;
    text-decoration: underline;
}

#text7 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 20px;
    clear: both;
    min-height: 62px;
    text-decoration: underline;
}

#text8 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 21px;
    clear: both;
    min-height: 56px;
    text-decoration: underline;
}

#text9 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 23px;
    clear: both;
    min-height: 51px;
    text-decoration: underline;
}

#text10 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 30px;
    clear: both;
    min-height: 48px;
    text-decoration: underline;
}

#text11 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 22px;
    clear: both;
    min-height: 48px;
}

#text12 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 23px;
    clear: both;
    min-height: 56px;
}

#textspan1 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    text-decoration: underline;
    font-weight: 600;
}

#textspan2 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 600;
    text-decoration: underline;
}

#box10{
    float: left;
    height: 560px;
    margin-left: 2.137998%;
    margin-top: 100px;
    clear: none;
    width: 17.489674%;
    border: 2px solid rgb(255, 159, 159);
    margin-right: 0%;
}

#text13 {
    float: left;
    font-size: 20px;
    width: 96.489448%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.288555%;
    margin-top: 13px;
    clear: none;
    min-height: 52px;
    text-decoration: underline;
}

#text14 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 20px;
    clear: both;
    min-height: 62px;
    text-decoration: underline;
}

#text15 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 21px;
    clear: both;
    min-height: 56px;
    text-decoration: underline;
}

#text16 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 23px;
    clear: both;
    min-height: 51px;
    text-decoration: underline;
}

#text17 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 30px;
    clear: both;
    min-height: 48px;
    text-decoration: underline;
}

#text18 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 22px;
    clear: both;
    min-height: 48px;
}

#textspan3 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    text-decoration: underline;
    font-weight: 600;
}

#text19 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 23px;
    clear: both;
    min-height: 56px;
}

#textspan4 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 600;
    text-decoration: underline;
}

#box20{
    float: left;
    height: 560px;
    margin-left: 2.658831%;
    margin-top: 100px;
    clear: none;
    width: 16.97036%;
    border: 2px solid rgb(185, 185, 186);
    margin-right: 0%;
}

#text20 {
    float: left;
    font-size: 20px;
    width: 96.489448%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.288555%;
    margin-top: 13px;
    clear: none;
    min-height: 52px;
    text-decoration: underline;
}

#text21 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 20px;
    clear: both;
    min-height: 62px;
    text-decoration: underline;
}

#text22 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 21px;
    clear: both;
    min-height: 56px;
    text-decoration: underline;
}

#text23 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 23px;
    clear: both;
    min-height: 51px;
    text-decoration: underline;
}

#text24 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 30px;
    clear: both;
    min-height: 48px;
    text-decoration: underline;
}

#text25 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 22px;
    clear: both;
    min-height: 48px;
}

#textspan5 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    text-decoration: underline;
    font-weight: 600;
}

#text26 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 23px;
    clear: both;
    min-height: 56px;
}

#textspan6 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 600;
    text-decoration: underline;
}

#box30 {
    float: left;
    height: 560px;
    margin-left: 3.00656%;
    margin-top: 100px;
    clear: none;
    width: 16.557337%;
    border: 2px solid rgb(255, 159, 159);
    margin-right: 0%;
}

#text27 {
    float: left;
    font-size: 20px;
    width: 96.489448%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.288555%;
    margin-top: 13px;
    clear: none;
    min-height: 52px;
    text-decoration: underline;
}

#text28 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 20px;
    clear: both;
    min-height: 62px;
    text-decoration: underline;
}

#text29 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 21px;
    clear: both;
    min-height: 56px;
    text-decoration: underline;
}

#text30 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 23px;
    clear: both;
    min-height: 51px;
    text-decoration: underline;
}

#text31 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 30px;
    clear: both;
    min-height: 48px;
    text-decoration: underline;
}

#text32 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 22px;
    clear: both;
    min-height: 48px;
}

#textspan7 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    text-decoration: underline;
    font-weight: 600;
}

#text33 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 23px;
    clear: both;
    min-height: 56px;
}

#textspan8 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 600;
    text-decoration: underline;
}

#box40 {
    float: left;
    height: 560px;
    margin-left: 2.585945%;
    margin-top: 100px;
    clear: none;
    width: 16.816995%;
    border: 2px solid rgb(185, 185, 186);
    margin-right: 0%;
}

#text34 {
    float: left;
    font-size: 20px;
    width: 96.489448%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.288555%;
    margin-top: 13px;
    clear: none;
    min-height: 52px;
    text-decoration: underline;
}

#text35 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 20px;
    clear: both;
    min-height: 62px;
    text-decoration: underline;
}

#text36 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 21px;
    clear: both;
    min-height: 56px;
    text-decoration: underline;
}

#text37 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 23px;
    clear: both;
    min-height: 51px;
    text-decoration: underline;
}

#text38 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 30px;
    clear: both;
    min-height: 48px;
    text-decoration: underline;
}

#text39 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 22px;
    clear: both;
    min-height: 48px;
}

#textspan9 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    text-decoration: underline;
    font-weight: 600;
}

#text40 {
    float: left;
    font-size: 20px;
    width: 96.499594%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -1.298701%;
    margin-top: 23px;
    clear: both;
    min-height: 56px;
}

#textspan10 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 600;
    text-decoration: underline;
}

#image200 {
    margin-left:30%;
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    top:90 px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}


#text1000 {
    float: left;
    font-size: 20px;
    width: 15.354713%;
    height: auto;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    margin-left: 2.623907%;
    margin-top: 50px;
    clear: both;
    min-height: 61px;
    text-transform: none;
    background-color: rgb(212, 230, 255);
    border: 3px solid rgb(185, 185, 186);
    border-bottom-left-radius: 0px;
}

#text200 {
    float: left;
    font-size: 20px;
    width: 17.491193%;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    margin-left: 2.137998%;
    margin-top: 50px;
    clear: none;
    min-height: 61px;
    background-color: rgb(240, 210, 220);
    border: 3px solid rgb(255, 159, 159);
}

#text300 {
    float: left;
    font-size: 20px;
    width: 17.067541%;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    margin-left: 2.558613%;
    margin-top: 50px;
    clear: none;
    min-height: 61px;
    background-color: rgb(212, 230, 255);
    border: 3px solid rgb(185, 185, 186);
}

#text400 {
    float: left;
    font-size: 20px;
    width: 17.067541%;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    margin-left: 2.496356%;
    margin-top: 50px;
    clear: none;
    min-height: 61px;
    background-color: rgb(240, 210, 220);
    border: 3px solid rgb(255, 159, 159);
}

#text500 {
    float: left;
    font-size: 20px;
    width: 16.812439%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 2.588982%;
    margin-top: 50px;
    clear: none;
    min-height: 61px;
    background-color: rgb(212, 230, 255);
    border: 3px solid rgb(185, 185, 186);
}